<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Allgemeine Geschäftsbedingungen</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <ul class="list-group">
                <li class="list-group-item">

                    <br>
                    Wir danken für Ihre Bestellung, die wir unter ausschließlicher
                    Geltung der auf der Rückseite dieses Auftrags abgedruckten
                    Liefer- und Zahlungsbedingungen annehmen.
                    <br>
                    <br>
                    § 1 Geltungsbereich
                    <br>
                    Diese Verkaufsbedingungen gelten ausschließlich gegenüber Unternehmern, juristischen Personen des
                    öffentlichen Rechts oder öffentlich-rechtlichen Sondervermögen im Sinne von § 310 Absatz 1 BGB.
                    Entgegenstehende oder von unseren Verkaufsbedingungen abweichende Bedingungen des Bestellers
                    erkennen wir nur an, wenn wir ausdrücklich schriftlich der Geltung zustimmen.
                    <br>
                    Diese Verkaufsbedingungen gelten auch für alle zukünftigen Geschäfte mit dem Besteller, soweit es
                    sich um Rechtsgeschäfte verwandter Art handelt (vorsorglich sollten die Verkaufsbedingungen in jedem
                    Fall der Auftragsbestätigung beigefügt werden).
                    <br>
                    <br>
                    § 2 Angebot und Vertragsabschluss
                    <br>
                    Sofern eine Bestellung als Angebot gemäß § 145 BGB anzusehen ist, können wir diese innerhalb von
                    zwei Wochen annehmen.
                    <br>
                    <br>
                    § 3 Überlassene Unterlagen
                    <br>
                    An allen in Zusammenhang mit der Auftragserteilung dem Besteller überlassenen Unterlagen, wie z. B.
                    Kalkulationen, Zeichnungen etc., behalten wir uns Eigentums- und Urheberrechte vor. Diese Unterlagen
                    dürfen Dritten nicht zugänglich gemacht werden, es sei denn, wir erteilen dazu dem Besteller unsere
                    ausdrückliche schriftliche Zustimmung. Soweit wir das Angebot des Bestellers nicht innerhalb der
                    Frist von § 2 annehmen, sind diese Unterlagen uns unverzüglich zurückzusenden.
                    <br>
                    <br>
                    § 4 Preise und Zahlung
                    <br>
                    Sofern nichts Gegenteiliges schriftlich vereinbart wird, gelten unsere Preise ab Werk ausschließlich
                    Verpackung und zuzüglich Mehrwertsteuer in jeweils gültiger Höhe. Kosten der Verpackung werden
                    gesondert in Rechnung gestellt.
                    <br>
                    Die Zahlung des Kaufpreises hat ausschließlich auf das umseitig genannte Konto zu erfolgen. Der
                    Abzug von Skonto ist nur bei schriftlicher besonderer Vereinbarung zulässig.
                    <br>
                    Sofern nichts anderes vereinbart wird, ist der Kaufpreis innerhalb von 10 Tagen nach Lieferung zu
                    zahlen (Alternativen: „ ... ist der Kaufpreis innerhalb von 21 Tagen nach Rechnungsstellung zahlbar“
                    oder „ ... ist der Kaufpreis bis zum - konkretes Datum - zahlbar“). Verzugszinsen werden in Höhe von
                    8 % über dem jeweiligen Basiszinssatz p.a. (siehe Anlage 1) berechnet. Die Geltendmachung eines
                    höheren Verzugsschadens bleibt vorbehalten.
                    <br>
                    Sofern keine Festpreisabrede getroffen wurde, bleiben angemessene Preisänderungen wegen veränderter
                    Lohn-, Material- und Vertriebskosten für Lieferungen, die 3 Monate oder später nach
                    Vertragsabschluss erfolgen, vorbehalten.
                    <br>
                    <br>
                    § 5 Zurückbehaltungsrechte
                    <br>
                    Zur Ausübung eines Zurückbehaltungsrechts ist der Besteller nur insoweit befugt, als sein
                    Gegenanspruch auf dem gleichen Vertragsverhältnis beruht.
                    <br>
                    <br>
                    § 8 Eigentumsvorbehalt
                    <br>
                    (1) Wir behalten uns das Eigentum an der gelieferten Sache bis zur vollständigen Zahlung sämtlicher
                    Forderungen aus dem Liefervertrag vor. Dies gilt auch für alle zukünftigen Lieferungen, auch wenn
                    wir uns nicht stets ausdrücklich hierauf berufen. Wir sind berechtigt, die Kaufsache zurückzunehmen,
                    wenn der Besteller sich vertragswidrig verhält.
                    <br>
                    (2) Der Besteller ist verpflichtet, solange das Eigentum noch nicht auf ihn übergegangen ist, die
                    Kaufsache pfleglich zu behandeln. Insbesondere ist er verpflichtet, diese auf eigene Kosten gegen
                    Diebstahl-, Feuer- und Wasserschäden ausreichend zum Neuwert zu versichern (Hinweis: nur zulässig
                    bei Verkauf hochwertiger Güter). Müssen Wartungs- und Inspektionsarbeiten durchgeführt werden, hat
                    der Besteller diese auf eigene Kosten rechtzeitig auszuführen. Solange das Eigentum noch nicht
                    übergegangen ist, hat uns der Besteller unverzüglich schriftlich zu benachrichtigen, wenn der
                    gelieferte Gegenstand gepfändet oder sonstigen Eingriffen Dritter ausgesetzt ist. Soweit der Dritte
                    nicht in der Lage ist, uns die gerichtlichen und außergerichtlichen Kosten einer Klage gemäß § 771
                    ZPO zu erstatten, haftet der Besteller für den uns entstandenen Ausfall.
                    <br>
                    (3) Der Besteller ist zur Weiterveräußerung der Vorbehaltsware im normalen Geschäftsverkehr
                    berechtigt. Die Forderungen des Abnehmers aus der Weiterveräußerung der Vorbehaltsware tritt der
                    Besteller schon jetzt an uns in Höhe des mit uns vereinbarten Faktura-Endbetrages (einschließlich
                    Mehrwertsteuer) ab. Diese Abtretung gilt unabhängig davon, ob die Kaufsache ohne oder nach
                    Verarbeitung weiterverkauft worden ist. Der Besteller bleibt zur Einziehung der Forderung auch nach
                    der Abtretung ermächtigt. Unsere Befugnis, die Forderung selbst einzuziehen, bleibt davon unberührt.
                    Wir werden jedoch die Forderung nicht einziehen, solange der Besteller seinen
                    Zahlungsverpflichtungen aus den vereinnahmten Erlösen nachkommt, nicht in Zahlungsverzug ist und
                    insbesondere kein Antrag auf Eröffnung eines Insolvenzverfahrens gestellt ist oder
                    Zahlungseinstellung vorliegt. [Anmerkung: Diese Klausel entfällt, wenn kein verlängerter
                    Eigentumsvorbehalt gewollt ist.]
                    <br>
                    (4) Die Be- und Verarbeitung oder Umbildung der Kaufsache durch den Besteller erfolgt stets Namens
                    und im Auftrag für uns. In diesem Fall setzt sich das Anwartschaftsrecht des Bestellers an der
                    Kaufsache an der umgebildeten Sache fort. Sofern die Kaufsache mit anderen, uns nicht gehörenden
                    Gegenständen verarbeitet wird, erwerben wir das Miteigentum an der neuen Sache im Verhältnis des
                    objektiven Wertes unserer Kaufsache zu den anderen bearbeiteten Gegenständen zur Zeit der
                    Verarbeitung. Dasselbe gilt für den Fall der Vermischung. Sofern die Vermischung in der Weise
                    erfolgt, dass die Sache des Bestellers als Hauptsache anzusehen ist, gilt als vereinbart, dass der
                    Besteller uns anteilmäßig Miteigentum überträgt und das so entstandene Alleineigentum oder
                    Miteigentum für uns verwahrt. Zur Sicherung unserer Forderungen gegen den Besteller tritt der
                    Besteller auch solche Forderungen an uns ab, die ihm durch die Verbindung der Vorbehaltsware mit
                    einem Grundstück gegen einen Dritten erwachsen; wir nehmen diese Abtretung schon jetzt an.
                    <br>
                    (5) Wir verpflichten uns, die uns zustehenden Sicherheiten auf Verlangen des Bestellers freizugeben,
                    soweit ihr Wert die zu sichernden Forderungen um mehr als 20 % übersteigt.
                    <br>
                    <br>
                    § 10 Sonstiges
                    <br>
                    (1) Dieser Vertrag und die gesamten Rechtsbeziehungen der Parteien unterliegen dem Recht der
                    Bundesrepublik Deutschland unter Ausschluss des UN-Kaufrechts (CISG).
                    <br>
                    (2) Erfüllungsort und ausschließlicher Gerichtsstand und für alle Streitigkeiten aus diesem Vertrag
                    ist unser Geschäftssitz, sofern sich aus der Auftragsbestätigung nichts anderes ergibt (Hinweis: Die
                    Verwendung der Klausel ist unzulässig, wenn mindestens eine der Parteien ein nicht im
                    Handelsregister eingetragenes Unternehmen ist)
                    <br>
                    (3) Alle Vereinbarungen, die zwischen den Parteien zwecks Ausführung dieses Vertrages getroffen
                    werden, sind in diesem Vertrag schriftlich niedergelegt.

                </li>
                <li class="list-group-item" align="center">
                    <form name="form" novalidate>
                        <div class="checkbox">
                            <label draggable="true">
                                <input type="checkbox" name="agbOk" ng-model="agbOk">AGBs bestätigen</label>
                        </div>
                        <a href="/purchase/transaction" class="btn btn-success" role="button" ng-disabled="!agbOk">Weiter</a>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</div>