<div class="row" ng-controller="ShoppingListCtrl">
    <div class="col-md-2" ng-include src="'/views/partials/profile/sidebar.html'"></div>
    <div class="col-md-10">
        <div class="page-header">
            <h2>Ihre Einkäufe</h2>
            <p>Hier können Sie bereits gekaufte Artikel durchsuchen und herunterladen.</p>
        </div>
    <table class="table">
        <thead>
        <tr>
            <th>Vorschau</th>
            <th>Auflösung</th>
            <th>Preis</th>
            <th>gekauft am</th>
            <th>Download</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="user in photographTableFilteredUsers">
            <td>{{$index}}</td>
            <td>{{user.firstName}} {{user.lastName}}</td>
            <td>{{user.email}}</td>
            <td draggable="true">
                <a ng-click="enablePhotographer(user.id)" class="btn btn-primary">aktivieren</a>
            </td>
            <td>{{user.email}}</td>
        </tr>
        </tbody>
    </table>
    </div>
</div>
