<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Kauf bestätigen</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <ul class="list-group">
                <li class="list-group-item">
                    <img src="http://placehold.it/150x150" class="img-responsive">
                </li>
                <li class="list-group-item">
                    <img src="http://placehold.it/150x150" class="img-responsive">
                </li>
                <li class="list-group-item" align="center">
                    <a href="#" class="btn btn-success" role="button">Weiter</a>
                </li>
            </ul>
        </div>
    </div>
</div>

