<div class="row">
    <div class="col-md-2" ng-include
         src="'views/partials/profile/sidebar.html'"></div>
    <div class="col-md-10">
        <div class="page-header">
            <h2>Fotoverwaltung</h2>

            <p>Lorem ipsum dolor sit amet, consectetur adipisici
                elit,
                <br>sed eiusmod tempor incidunt ut labore et dolore magna
                aliqua.
                <br>Ut enim ad minim veniam, quis nostrud</p>
        </div>
        <div class="row">
            <div class="col-md-12">
                <form method="POST" enctype="multipart/form-data"
                      action="/upload/image">
                    File to upload: <input type="file" name="file"><br/>
                    Name: <input type="text" name="name"><br/>
                    Beschreibung: <input type="text" name="desc"><br/>
                    Preis: <input type="text" name="price"
                                  pattern="^\d+(\.|\,)\d{2}$"><br/>
                    <input type="submit" value="Upload">
                    Press here to upload the file!
                </form>
            </div>
        </div>
        <div class="row"></div>
        <div class="row">
            <div class="col-md-12">
                <div class="progress">
                    <div class="progress-bar" role="progressbar"
                         style="width: 60%;">60% Complete
                    </div>
                </div>
            </div>
        </div>
        <br>

        <div class="row">
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-12">
                        <div class="thumbnail">
                            <img src="http://placehold.it/1024x600"
                                 class="img-responsive">

                            <div class="caption">
                                <h3>pic 1</h3>

                                <p>Cras justo odio, dapibus ac facilisis in,
                                    egestas eget quam. Donec id
                                    elit non mi porta gravida at eget metus.
                                    Nullam id dolor id nibh ultricies
                                    vehicula ut id elit.</p>

                                <div class="btn-toolbar" role="toolbar">
                                    <div class="btn-group">
                                        <a type="button"
                                           class="btn btn-default">bearbeiten</a>
                                        <a type="button"
                                           class="btn btn-default">entfernen</a>

                                        <div class="btn-group">
                                            <a class="btn btn-primary btn-sm dropdown-toggle"
                                               data-toggle="dropdown">
                                                verschieben&nbsp;<span
                                                    class="caret"></span></a>
                                            <ul class="dropdown-menu"
                                                role="menu">
                                                <li>
                                                    <a href="#">Album 1</a>
                                                </li>
                                                <li>
                                                    <a href="#">Album 1</a>
                                                </li>
                                                <li>
                                                    <a href="#">Album 1</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <img src="http://placehold.it/1024x600"
                         class="img-responsive">

                    <div class="caption">
                        <h3>pic 2</h3>

                        <p>Cras justo odio, dapibus ac facilisis in, egestas
                            eget quam. Donec id
                            elit non mi porta gravida at eget metus. Nullam id
                            dolor id nibh ultricies
                            vehicula ut id elit.</p>

                        <div class="btn-toolbar" role="toolbar">
                            <div class="btn-group">
                                <a type="button" class="btn btn-default">bearbeiten</a>
                                <a type="button" class="btn btn-default">entfernen</a>

                                <div class="btn-group">
                                    <a class="btn btn-primary btn-sm dropdown-toggle"
                                       data-toggle="dropdown">
                                        verschieben&nbsp;<span
                                            class="caret"></span></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li>
                                            <a href="#">Album 1</a>
                                        </li>
                                        <li>
                                            <a href="#">Album 1</a>
                                        </li>
                                        <li>
                                            <a href="#">Album 1</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <img src="http://placehold.it/1024x600"
                         class="img-responsive">

                    <div class="caption">
                        <h3>pic 3</h3>

                        <p>Cras justo odio, dapibus ac facilisis in, egestas
                            eget quam. Donec id
                            elit non mi porta gravida at eget metus. Nullam id
                            dolor id nibh ultricies
                            vehicula ut id elit.</p>

                        <div class="btn-toolbar" role="toolbar">
                            <div class="btn-group">
                                <a type="button" class="btn btn-default">bearbeiten</a>
                                <a type="button" class="btn btn-default">entfernen</a>

                                <div class="btn-group">
                                    <a class="btn btn-primary btn-sm dropdown-toggle"
                                       data-toggle="dropdown">
                                        verschieben&nbsp;<span
                                            class="caret"></span></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li>
                                            <a href="#">Album 1</a>
                                        </li>
                                        <li>
                                            <a href="#">Album 1</a>
                                        </li>
                                        <li>
                                            <a href="#">Album 1</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>