<div class="row">
    <div class="col-md-2" ng-include src="'/views/partials/profile/sidebar.html'"></div>
    <div class="col-md-9 ngCloak" ng-show="isBecomePhotographer()">
        <div class="row">
            <div class="col-md-11">
                <p>Sie haben sich bereits als Fotograf beworben, warten Sie bitte bis ein Admin Sie freigeschalten hat.</p>
            </div>
        </div>
    </div>
    <div class="col-md-9 ngCloak" ng-hide="isBecomePhotographer()">
        <div class="page-header">
            <h2>Fotografenregistrierung</h2>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>Bitte vervollständige deine Angaben, um als Fotograf registriert zu werden.
                    Du bist dann in der Lage eigene Bilder hochzuladen und zum Kauf anzubieten.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <form name="form" class="form-horizontal" role="form" ng-controller="PhotographerCtrl"
                      novalidate>
                    <div class="form-group">
                        <div class="col-sm-5">
                            <div class="input-group has-feedback"
                                 ng-class="{'has-error' : (form.company.$error.required || errors.company) && form.company.$dirty}">
                                <label for="company" class="control-label input-group-addon">Firma</label>
                                <input name="company" id="company" placeholder="Firma"
                                       type="text" class="form-control" ng-model="pd.company" required>
                            </div>
                            <div class="help-block ng-cloak" ng-show="form.company.$dirty">
                                <span ng-show="form.company.$error.required">Dieses Feld darf nicht leer sein.</span>
                                <span ng-show="errors.company">{{errors.company[0]}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-5">
                            <div class="input-group has-feedback"
                                 ng-class="{'has-error' : (form.phone.$invalid || errors.phone) && form.phone.$dirty}">
                                <label for="phone" class="control-label input-group-addon">Telefon</label>
                                <input name="phone" id="phone" placeholder="Telefon" type="tel" class="form-control"
                                       ng-model="pd.phone" required="">
                            </div>
                            <div class="help-block ng-cloak" ng-show="form.phone.$dirty">
                                <span ng-show="form.phone.$error.required">Dieses Feld darf nicht leer sein.</span>
                                <span ng-show="errors.phone">{{errors.phone[0]}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-5">
                            <div class="input-group has-feedback"
                                 ng-class="{'has-error' : (form.homepage.$error.required || errors.swift) && form.homepage.$dirty}">
                                <label for="homepage" class="control-label input-group-addon">Homepage</label>
                                <input name="homepage" id="homepage" placeholder="Homepage" type="text"
                                       class="form-control" ng-model="pd.homepage">
                            </div>
                            <div class="help-block ng-cloak" ng-show="form.homepage.$dirty">
                                <span ng-show="errors.homepage">{{errors.homepage[0]}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-5">
                            <div class="input-group has-feedback"
                                 ng-class="{'has-error' : (form.paypalID.$error.required || errors.paypalID) && form.paypalID.$dirty}">
                                <label for="paypalID" class="control-label input-group-addon">Paypal ID</label>
                                <input name="paypalID" id="paypalID" placeholder="Paypal ID" type="text"
                                       class="form-control"
                                       ng-model="pd.paypalID" required>
                            </div>
                            <div class="help-block" ng-show="form.paypalID.$dirty">
                                <span ng-show="form.paypalID.$error.required">Dieses Feld darf nicht leer sein.</span>
                                <span ng-show="errors.paypalID">{{errors.paypalID[0]}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-5">
                            <div class="input-group has-feedback"
                                 ng-class="{'has-error' : (form.iban.$error.required || errors.iban) && form.iban.$dirty}">
                                <label for="iban" class="control-label input-group-addon">IBAN</label>
                                <input name="iban" id="iban" placeholder="IBAN" type="text"
                                       class="form-control" ng-model="pd.iban" required>
                            </div>
                            <div class="help-block ng-cloak" ng-show="form.iban.$dirty">
                                <span ng-show="form.iban.$error.required">Dieses Feld darf nicht leer sein.</span>
                                <span ng-show="errors.iban">{{errors.iban[0]}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-5">
                            <div class="input-group has-feedback"
                                 ng-class="{'has-error' : (form.swift.$error.required || errors.swift) && form.swift.$dirty}">
                                <label for="swift" class="control-label input-group-addon">SWIFT</label>
                                <input name="swift" id="swift" placeholder="SWIFT" type="text"
                                       class="form-control" ng-model="pd.swift" required>
                            </div>
                            <div class="help-block ng-cloak" ng-show="form.swift.$dirty">
                                <span ng-show="form.swift.$error.required">Dieses Feld darf nicht leer sein.</span>
                                <span ng-show="errors.swift">{{errors.swift[0]}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-10">
                            <button type="submit" class="btn btn-primary" ng-click="becomePhotographer(pd)" ng-disabled="form.$invalid">
                                als Fotograf bewerben
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>