<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center">Willkommen Benutzer</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-12">
      <hr>
    <h3>Unsere Empfehlung</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-3">
      <img src="http://placehold.it/1024x600" class="img-responsive">
      <p class="text-center">Fotograf</p>
    </div>
    <div class="col-xs-12 col-md-3">
      <img src="http://placehold.it/1024x600" class="img-responsive">
      <p class="text-center">Fotograf</p>
    </div>
    <div class="col-xs-12 col-md-3">
      <img src="http://placehold.it/1024x600" class="img-responsive">
      <p class="text-center">Fotograf</p>
    </div>
    <div class="col-xs-12 col-md-3">
      <img src="http://placehold.it/1024x600" class="img-responsive">
      <p class="text-center">Fotograf</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-12">
      <hr>
      <h3>Meine Käufe</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-3">
      <img src="http://placehold.it/1024x600" class="img-responsive">
      <p class="text-center">Fotograf</p>
    </div>
    <div class="col-xs-12 col-md-3">
      <img src="http://placehold.it/1024x600" class="img-responsive">
      <p class="text-center">Fotograf</p>
    </div>
    <div class="col-xs-12 col-md-3">
      <img src="http://placehold.it/1024x600" class="img-responsive">
      <p class="text-center">Fotograf</p>
    </div>
    <div class="col-xs-12 col-md-3">
      <img src="http://placehold.it/1024x600" class="img-responsive">
      <p class="text-center">Fotograf</p>
    </div>
  </div>
</div>