    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>Willkommen Benutzer</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <hr>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h3 contenteditable="true">Unsere Empfehlung</h3>
          <table class="table">
            <thead>
              <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <img src="http://placehold.it/1024x600" class="img-responsive" draggable="true">
                  <br>
                  <p>Photograf</p>
                </td>
                <td>
                  <img src="http://placehold.it/1024x600" class="img-responsive">
                  <br>
                  <p>Photograf</p>
                </td>
                <td>
                  <img src="http://placehold.it/1024x600" class="img-responsive">
                  <br>
                  <p>Photograf</p>
                </td>
                <td>
                  <img src="http://placehold.it/1024x600" class="img-responsive">
                  <br>
                  <p>Photograf</p>
                </td>
              </tr>
              <tr>
                <td>
                  <img src="http://placehold.it/1024x600" class="img-responsive">
                  <br>
                  <p>Photograf</p>
                </td>
                <td>
                  <img src="http://placehold.it/1024x600" class="img-responsive">
                  <br>
                  <p>Photograf</p>
                </td>
                <td>
                  <img src="http://placehold.it/1024x600" class="img-responsive">
                  <br>
                  <p>Photograf</p>
                </td>
                <td>
                  <img src="http://placehold.it/1024x600" class="img-responsive">
                  <br>
                  <p>Photograf</p>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <hr>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h3 contenteditable="true">Ihre Einkäufe</h3>
          <table class="table">
            <thead>
              <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <img src="http://placehold.it/1024x600" class="img-responsive">
                  <br>
                  <p>Photograf</p>
                </td>
                <td>
                  <img src="http://placehold.it/1024x600" class="img-responsive">
                  <br>
                  <p>Photograf</p>
                </td>
                <td>
                  <img src="http://placehold.it/1024x600" class="img-responsive">
                  <br>
                  <p>Photograf</p>
                </td>
                <td>
                  <img src="http://placehold.it/1024x600" class="img-responsive">
                  <br>
                  <p>Photograf</p>
                </td>
              </tr>
              <tr>
                <td>
                  <img src="http://placehold.it/1024x600" class="img-responsive">
                  <br>
                  <p>Photograf</p>
                </td>
                <td>
                  <img src="http://placehold.it/1024x600" class="img-responsive">
                  <br>
                  <p>Photograf</p>
                </td>
                <td>
                  <img src="http://placehold.it/1024x600" class="img-responsive">
                  <br>
                  <p>Photograf</p>
                </td>
                <td>
                  <img src="http://placehold.it/1024x600" class="img-responsive">
                  <br>
                  <p>Photograf</p>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>