<div class="row">
    <div class="col-md-2" ng-include
         src="'/views/partials/profile/sidebar.html'"></div>
    <div class="col-md-10" ng-init="getAllImages()">
        <div class="page-header">
            <h2>Fotoverwaltung</h2>

            <p>Hier befinden sich alle Fotos</p>
        </div>
        <div class="row">
            <div class="col-md-12">
                <form method="POST" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="fileUpload btn btn-primary">
                                <span class="glyphicon glyphicon-folder-open"></span>
                                Upload
                                <input class="upload" file-input="files"
                                       type="file"
                                       accept="image/*;capture=camera"
                                       multiple>
                            </div>
                            <button class="btn btn-primary upload" disabled
                                    ng-click="uploadImage()">
                                <span class="glyphicon glyphicon-open"></span>
                                Hochladen
                            </button>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div id="darg-and-drop-area" class="col-md-6">
                                <p align="center">
                                    drag & drop an image
                                </p>
                            </div>
                        </div>
                    </div>
                    <div id="preview" class="col-md-12">

                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <button id="bottom-upload" disabled
                                    class="btn btn-primary upload pull-right"
                                    ng-click="uploadImage()">
                                <span class="glyphicon glyphicon-open"></span>
                                Hochladen
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row" ng-include src="'/views/partials/profile/photographer/imageComponent.html'"></div>
    </div>
</div>