<div class="row">
    <div class="col-md-2" ng-include
         src="'/views/partials/profile/sidebar.html'"></div>
    <div class="col-md-10" ng-init="getAllImages()">
        <div class="page-header">
            <h2>Fotoverwaltung</h2>

            <p>Hier befinden sich alle Fotos</p>
        </div>
        <div class="row">
            <div class="col-md-12">
                <form method="POST" enctype="multipart/form-data">
                    <div class="col-md-6">
                        File to upload:
                        <input file-input="files"
                               type="file" multiple>
                    </div>


                    <div class="col-md-6"></div>
                    <div id="darg-and-drop-area" class="col-md-6">
                        <p>
                            drag & drop an image
                        </p>
                    </div>
                    <div>

                    </div>
                    <div id="preview" class="col-md-12"></div>
                    <li ng-repeat="file in files">{{file.name}}</li>
                    <button ng-click="uploadImage()">
                        Hochladen
                    </button>
                </form>
            </div>
        </div>
        <div class="row" ng-include src="'/views/partials/profile/photographer/imageComponent.html'"></div>
    </div>
</div>