<form novalidate class="form-horizontal"  ng-controller="IngredientCreateCtrl" >
	<fieldset>
		<!-- INFORMATION -->
		<legend>
			Neue Zutat
		</legend>
		<div class="control-group">

			<label class="control-label" for="name">Name</label>
			<div class="controls">
				<input type="text" ng-model="ingredient.name" id="name"/>
			</div>

			<label class="control-label" for="calories">Kalorien für 1g</label>
			<div class="controls">
				<input type="number" ng-model="nutrition.calories" id="calories"/>
			</div>

			<label class="control-label" for="protein">Protein für 1g</label>
			<div class="controls">
				<input type="number" ng-model="nutrition.protein" id="protein"/>
			</div>

			<label class="control-label" for="fat">Fett für 1g</label>
			<div class="controls">
				<input type="number" ng-model="nutrition.fat" id="fat"/>
			</div>

			<label class="control-label" for="carbohydrate">Kolenhydrate für 1g</label>
			<div class="controls">
				<input type="number" ng-model="nutrition.carbohydrate" id="carbohydrate"/>
			</div>
		</div>
	</fieldset>
	<hr>
	<span> Für Informationen zu Nährwerten von Zutaten siehe <a href="http://www.food-rechner.de/nutritions/home">http://www.food-rechner.de/nutritions/home</a></span>
	<br>
	<br>
	<button type="submit" ng-click="createIngredient(ingredient, nutrition)" class="btn btn-primary">
		Speichern
	</button>
</form>