<!--modal window to add new images to collection.-->
<div id="add-images-modal">
    <div class="modal-header">
        <h3 class="modal-title">Bilder hinzufügen</h3>
    </div>
    <div class="modal-body">
        <p>Wähle die Bilder aus, die du zu deiner Sammlung hinzufügen möchtest.</p>
        <table class="table">
            <thead>
            <th>Bild</th>
            <th>Name</th>
            <th></th>
            </thead>
            <tbody>
            <tr ng-repeat="image in imagesWithoutCollection">
                <td><img ng-src="{{image.smallPath}}" class="img-responsive" width="70" height="30"
                         onerror="this.src='http://placehold.it/70x30'"></td>
                <td>{{image.name}}</td>
                <td><input type="checkbox" ng-model="image.isAdded"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</div>