<div class="row">
    <div class="col-md-2" ng-include src="'/views/partials/profile/sidebar.html'"></div>
    <div class="col-md-10">
        <div class="row">
            <div class="col-md-12">
                <h1>Administrationsmenu</h1>
                <h4>Fotografenbestätigung</h4>

                <p>Die nachfolgende Liste zeigt Angemeldete Fotografen, die auf eine
                    Bestätigung
                    warten.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Benutzer</th>
                        <th>E-Mail</th>
                        <th>Freischalten</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="user in photographTableFilteredUsers">
                        <td>{{$index}}</td>
                        <td>{{user.firstName}} {{user.lastName}}</td>
                        <td>{{user.email}}</td>
                        <td draggable="true">
                            <a ng-click="enablePhotographer(user.id)" class="btn btn-primary">aktivieren</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <pagination ng-show="photographTableShowPagination"
                            total-items="photographTableTotalItems"
                            items-per-page="photographTableNumPerPage"
                            ng-model="photographTableCurrentPage"
                            ng-change="photographTablePageChanged()"></pagination>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h4>Benutzer suchen</h4>

                <form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search"
                               ng-model="userTableSearchUsername">
                    </div>
                    <a class="btn btn-default" href="04 Suchergebnisseite.htm"
                       style="visibility: hidden">Suche</a>
                </form>
            </div>
            <div class="col-md-12">
                <table class="table">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Benutzer</th>
                        <th>Bearbeiten</th>
                        <th>Adminrechte</th>
                        <th>Sperren</th>
                        <th>Entsperren</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="user in userTableFilteredUsers | filter:userTableSearchUsername">
                        <td>{{$index}}</td>
                        <td>{{user.firstName}} {{user.lastName}}</td>
                        <td draggable="true">
                            <a ng-click="edit(user.id)" class="btn btn-primary">editieren</a>
                        </td>
                        <td draggable="true">
                            <a id="make-admin-{{user.id}}" ng-click="makeAdmin(user.id)"
                               ng-disabled="{{user.admin}}" class="btn btn-primary">Adminrechte</a>
                        </td>
                        <td>
                            <a id="locked-user-{{user.id}}" ng-click="lockUser(user.id)"
                               ng-disabled="{{user.banned}}"
                               class="btn btn-primary">Sperren</a>
                        </td>
                        <td>
                            <a id="unlocked-user-{{user.id}}" ng-click="unlockUser(user.id)"
                               ng-disabled="{{!user.banned}}"
                               class="btn btn-primary">Freigeben</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <pagination ng-show="userTableShowPagination"
                            total-items="userTableTotalItems"
                            items-per-page="userTableNumPerPage"
                            ng-model="userTableCurrentPage"
                            ng-change="userTablePageChanged()"></pagination>
            </div>
        </div>
    </div>
</div>