<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-3" ng-repeat="image in images">
            <div class="thumbnail" id="image-{{image.imageId}}" >
                    <img src="{{image.smallPath}}" class="img-responsive"
                         onerror="this.src='http://placehold.it/1024x600'">
                    <div class="caption">
                        <h3><a href="/image/{{image.imageId}}">{{image.name}}</a></h3>

                        <p>{{image.description}}</p>

                        <p>Preis: {{image.price}} €</p>

                        <div class="btn-toolbar" role="toolbar">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default" >
                                    In den Warenkorb
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>