<div class="thumbnail" id="image-{{image.imageId}}" ng-init="status = {editing : false }">
    <img src="{{image.smallPath}}" class="img-responsive"
         onerror="this.src='http://placehold.it/1024x600'">

    <div class="caption">
        <h3><a href="/image/{{image.imageId}}">{{image.name}}</a></h3>

        <p>{{image.description}}</p>

        <p>Preis: {{image.price}} €</p>

        <div class="btn-toolbar" role="toolbar">
            <div class="btn-group">
                <button type="button" class="btn btn-default"
                        ng-click="addToCart(image)">
                    Warenkorb
                </button>
                <button type="button" class="btn btn-default"
                        ng-click="goToCollection(image.imageId)">Sammlung
                </button>
                <button type="button" class="btn btn-default"
                        ng-click="goToPhotograph(image.imageId)">Fotograf
                </button>
            </div>
        </div>
    </div>
</div>