<div id="carousel-example-generic" style="width: 100%;" data-interval="false" class="carousel slide"
     data-ride="carousel">
    <div class="carousel-inner">
        <div class="item">
            <img src="img/car1.jpg">
            <div class="carousel-caption">
                <h2>random pic 1</h2>
                <p>Description</p>
            </div>
        </div>
        <div class="item">
            <img src="img/car2.jpg">
            <div class="carousel-caption">
                <h2>random pic 2</h2>
                <p>Description</p>
            </div>
        </div>
        <div class="item active">
            <img src="img/car3.jpg">
            <div class="carousel-caption">
                <h2>random pic 3</h2>
                <p>Description</p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
</div>
<!-- Main hero unit for a primary marketing message or call to action -->
<div class="home-hero-unit hero-unit">
    <h3>Willkommen</h3>

    <p><a href="#/register" class="btn btn-primary btn-large">Werde Mitglied!</a></p>
</div>
