<div ng-controller="CarouselDemoCtrl">
    <div style="width: 100%;">
        <carousel>
            <slide ng-repeat="slide in slides" active="slide.active">
                <img ng-src="{{slide.image}}" style="margin:auto;">

                <div class="carousel-caption">
                    <h4>Slide {{$index}}</h4>

                    <p>{{slide.text}}</p>
                </div>
            </slide>
        </carousel>
    </div>
</div>
<!-- Main hero unit for a primary marketing message or call to action -->
<div class="home-hero-unit hero-unit" align="center">
    <h1>Willkommen Gast</h1>

    <p>Auf dieser Seite können Sie Bilder kaufen und verkaufen.</p>

    <p><a href="#/register" class="btn btn-primary btn-large">Werde
        Mitglied!</a></p>
    <br>

    <div class="input-group input-group" style="width:40%">
        <input type="text" class="form-control" placeholder="Natur, Wasser ...">
         <span class="input-group-btn">
            <button class="btn btn-default" type="button"><span
                    class="glyphicon glyphicon-search"></span>
            </button>
        </span>
    </div>
</div>
