<div class="row">
    <div class="col-md-10" ng-controller="PaypalTestCtrl" ng-init="getToken()">
        <div class="row">
            <div class="page-header">
                <h2>Paypal Test</h2>
                <p>OAuthToken: {{OAuthToken}}</p>
            </div>
                <button type="button" class="btn btn-default"
                        ng-click="StartPurchase()">Buy
                </button>
                
        <div class="row">
        	{{StartPurchaseResult}}
        </div>
        </div>
    </div>
</div>

