<div class="page-header">
	<h2>Registrieren</h2>
</div>

<div class="row">
	<div class="col-md-6">
		<form class="form-horizontal" ng-controller="RegisterCtrl">
			<div class="form-group">
				<label for="username" class="col-sm-3 control-label">Nutzername:</label>
				<div class="col-sm-9">
					<input id="username" ng-model="username" type="text" class="form-control" />
				</div>
			</div>
			<div class="form-group">
				<label for="password" class="col-sm-3 control-label">Passwort:</label>
				<div class="col-sm-9">
					<input id="password" ng-model="password" type="password" class="form-control" />
				</div>
			</div>
			<div class="form-group">
				<label for="password" class="col-sm-3 control-label">Email:</label>
				<div class="col-sm-9">
					<input id="email" ng-model="email" type="email" class="form-control" />
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-9">
					<input type="submit" value="Registrieren" class="btn btn-primary" ng-click="register(username, password, email)"/>
				</div>
			</div>
		</form>
	</div>
</div>