<div class="thumbnail" id="image-{{image.id}}" ng-init="status = {editing : false }" customerimage>
    <img src="{{image.smallPath}}" class="img-responsive img-rounded"
         onerror="this.src='http://placehold.it/1024x600'"
         ng-click="openModal(image)">

    <div class="caption">
        <h3 ng-click="openModal(image)">{{image.name}}</h3>

        <p>{{image.description}}</p>

        <p>Preis: {{image.price}} €</p>

        <div class="btn-toolbar" role="toolbar">
            <div class="btn-group">
                <button type="button" class="btn btn-default"
                        ng-click="addToCart(image)">
                    Warenkorb
                </button>
                <button type="button" class="btn btn-default"
                        ng-click="goToCollection(image.imageId)">Sammlung
                </button>
                <button type="button" class="btn btn-default"
                        ng-click="goToPhotograph(image.userData.id)">{{image.userData.firstName}} {{image.userData.lastName}}
                </button>
            </div>
        </div>
    </div>
</div>