<div class="row">
	<div class="span3 bs-docs-sidebar" ng-include src="'views/partials/profile/sidebar.html'"></div>
	<div class="span9">
		<form novalidate class="form-horizontal"  ng-controller="ProfileDetailCtrl" >
			<fieldset>
				<!-- INFORMATION -->
				<legend>
					Information
				</legend>
				<div class="control-group">
					<label class="control-label" for="name">Name</label>
					<div class="controls">
						<input type="text" ng-model="user.username" id="username"/>
					</div>
					<label class="control-label" for="name">Email</label>
					<div class="controls">
						<input type="text" ng-model="user.email" id="email"/>
					</div>
					<label class="control-label" for="name">Wohnort</label>
					<div class="controls">
						<input type="text" ng-model="user.city" id="city"/>
					</div>

					<label style="" class="control-label" for="name">Geburtstag</label>
					<div class="controls">
						<p class="input-group">
							<input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="user.birthday" is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
							<span class="input-group-btn">
								<button type="button" class="btn btn-default" ng-click="open($event)">
									<i class="icon-calendar"></i>
								</button> </span>
						</p>
					</div>

					<label class="control-label" for="notes">Über mich</label>
					<div class="controls">
						<textarea rows="10" cols="100" ng-model="user.about" id="about"></textarea>
					</div>
				</div>
			</fieldset>
			<button type="submit" ng-click="updateUser(user)" class="btn btn-primary">
				Aktualisieren
			</button>
		</form>
	</div>
</div>