<div class="row">
	<div class="span3 bs-docs-sidebar" ng-include src="'views/partials/profile/sidebar.html'"></div>
	<div class="span9">
		<div class="alert alert-error" ng-show = "error !== undefined">
			{{error}}
		</div>
		<div class="alert alert-success" ng-show = "success !== undefined">
			{{success}}
		</div>
		
		<div class = "navbar-inner">
			<form class="navbar-search pull-left">
				<input type="text" class="search-query" placeholder="Kochbücher durchsuchen..." ng-model="query">
			</form>
		</div>
		<div class="panel panel-default">
			<!-- Table -->
			<table class="table table-striped">
				<p>
					{{status}}
				</p>
				<thead>
					<tr>
						<th>Name</th>
						<th>Rezepte</th>
						<th>Erstellt am</th>
						<th>Typ</th>
					</tr>
				</thead>
				<tbody ng-init = "getRecipeBooks()">
					<tr ng-repeat="recipeBook in recipeBooks | filter:query">
						<td>{{recipeBook.name}}</td>
						<td><span ng-repeat="usedRecipe in recipeBook.usedRecipes">{{ usedRecipe.recipe.name }} </span></td>
						<td>um <strong>{{recipeBook.createdAt | date:'HH:mm'}}</strong> Uhr am <strong>{{recipeBook.createdAt | date:'dd.MM.yyyy'}}</strong></td>
						<td><strong>{{recipeBook.type}}</strong></td>
						<td><a href="#/recipebook/edit/{{recipeBook.name}}">
						<button class="btn btn-small btn-primary" type="button">
							bearbeiten
						</button></a></td>
					</tr>
				</tbody>
			</table>
		</div>
		<a href="#/recipebook/create">
		<button class="btn btn-small btn-primary" type="button">
			Neues Rezeptbuch erstellen
		</button></a>
	</div>
</div>