<ul class="nav nav-pills nav-stacked">
    <li>
        <a href="/profile"><img src="/img/index.jpeg"></a>
    </li>
    <li role="presentation">
        <a href="/profile/view">Mein Profil</a>
    </li>
    <li role="presentation">
        <a href="/profile/shoppinglist">Meine Einkaufslisten</a>
    </li>
    <li role="presentation" ng-show="isAdmin()">
        <a href="/profile/admin">Admin Einstellungen</a>
    </li>
    <li role="presentation">
        <a href="/profile/photograph/register">Fotograph werden</a>
    </li>
</ul>