<div class="list-group">
            <span class="pull-right" id="slide-submenu">
                <i class="fa fa-times"></i>
            </span>
    <a href="/profile/view" class="list-group-item">
        <i class="fa fa-comment-o"></i> Mein Profil
    </a>
    <a href="/profile/shoppinglist" class="list-group-item">
        <i class="fa fa-search"></i> Meine Einkaufsliste
    </a>
    <a href="/profile/admin" ng-show="isAdmin()" class="list-group-item">
        <i class="fa fa-user"></i> Admin Einstellungen
    </a>
    <a href="/profile/photograph/showcase" ng-show="isPhotographer()"
       class="list-group-item">
        <i ng-show="isPhotographer()" class="fa fa-folder-open-o"></i> Mein
        Showcase
    </a>
    <a href="/profile/photograph/collection" ng-show="isPhotographer()"
       class="list-group-item">
        <i ng-show="isPhotographer()" class="fa fa-bar-chart-o"></i> Sammlungen <span
            ng-show="isPhotographer()"
            class="badge">14</span>
    </a>
    <a href="/profile/photograph/image" ng-show="isPhotographer()"
       class="list-group-item">
        <i class="fa fa-envelope" ng-show="isPhotographer()"></i> Fotos <span
            ng-show="isPhotographer()" class="badge">55</span>
    </a>
    <a href="/profile/photograph/register" ng-hide="isPhotographer()"
       class="list-group-item">
        <i class="fa fa-envelope"></i> Fotograph werden
    </a>
</div>