<ul class="nav nav-list bs-docs-sidenav">
	<li>
		<img src="/img/index.jpeg">
	</li>
	<li>
		<a href="#/profile"><i class="icon-chevron-right"></i> Mein Profil</a>
	</li>
	<li>
		<a href="#/profile/recipes"><i class="icon-chevron-right"></i> Meine Rezepte</a>
	</li>
	<li>
		<a href="#/profile/recipebooks"><i class="icon-chevron-right"></i> Meine Kochbuecher</a>
	</li>
	<li>
		<a href="#/profile/shoppinglists" style="pointer-events: none;"><i class="icon-chevron-right"></i><font color="GRAY">Meine Einkaufslisten</font></a>
	</li>
</ul>