<div class="row">
    <div class="col-md-2" ng-include src="'/views/partials/profile/sidebar.html'"></div>
    <div class="col-md-10">
        <div class="page-header">
            <h2>Ihr Kundenkonto</h2>
        </div>
        <div class="row">
            <div class="col-md-11">
                <p>Ändern oder verfollständigen Sie Ihre Nutzerdaten.</p>
                <br>
            </div>
            <div class="col-md-11">
                <ul class="list-group">
                    <li class="list-group-item">Vorname: {{user.firstName}}</li>
                    <li class="list-group-item">Nachname: {{user.lastName}}</li>
                    <li class="list-group-item">Email: {{user.email}}</li>
                </ul>
                <div class="col-md-11 text-right">
                    <a class="btn btn-primary">editieren</a>
                </div>
            </div>
            <div class="col-md-11" ng-show="isPhotographer()">
                <ul class="list-group">
                    <li class="list-group-item">Firma: {{user.company}}</li>
                    <li class="list-group-item">Telefon: {{user.phone}}</li>
                    <li class="list-group-item">Homepage: {{user.homepage}}</li>
                </ul>
                <h3>Bankdaten</h3>
                <ul class="list-group">
                    <li class="list-group-item">IBAN: {{user.iban}}</li>
                    <li class="list-group-item">SWIFT: {{user.swift}}</li>
                </ul>
                <div class="col-md-11 text-right">
                    <a class="btn btn-primary">editieren</a>
                </div>
            </div>
        </div>
    </div>
</div>