<!DOCTYPE html>
<html ng-app="photoplatform">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title>Photoplattform</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet/less" type="text/css" href="/less/styles.less"/>
    <!-- link rel="stylesheet" type="text/css" href="/css/styles.css" -->
    <title>Photoplattform</title>
</head>
<body>


<!-- Navigation -->
<nav id="slide-menu">
    <ul>
        <li ng-show="isAdmin()">
            <a href="/profile/admin" onclick="fadeOutMenu();">
                <span class="glyphicon glyphicon-wranch"></span>
                <!--<i class="fa fa-user"></i> -->
                Admin Einstellungen
            </a>
        </li>
        <li ng-show="isPhotographer()">
            <a href="/profile/photograph/showcase" onclick="fadeOutMenu();">
                <span class="glyphicon glyphicon-film"></span>
                <!--<i ng-show="isPhotographer()" class="fa fa-folder-open-o"></i>-->
                Mein Showcase
            </a>
        </li>
        <li ng-show="isPhotographer()">
            <a href="/profile/photograph/collection" onclick="fadeOutMenu();">
                <span class="glyphicon glyphicon-book"></span>
                <!--<i ng-show="isPhotographer()" class="fa fa-bar-chart-o"></i>-->
                Sammlungen <span class="badge">14</span>
            </a>
        </li>
        <li ng-show="isPhotographer()">
            <a href="/profile/photograph/image" onclick="fadeOutMenu();">
                <span class="glyphicon glyphicon-picture"></span>
                <!--<i class="fa fa-envelope" ng-show="isPhotographer()"></i>-->
                Fotos <span class="badge">55</span>
            </a>
        </li>
        <li ng-show="isCustomer()">
            <a href="/profile/photograph/register" onclick="fadeOutMenu();">
                <span class="glyphicon glyphicon-pencil"></span>
                <!--<i class="fa fa-envelope"></i>-->
                Fotograph werden
            </a>
        </li>
        <li ng-show="isLoggedIn()">
            <a href="/profile" onclick="fadeOutMenu();">
                <span class="glyphicon glyphicon-user"></span>
                {{user.firstName}}
            </a>
        </li>
        <li ng-show="isLoggedIn()">
            <a href="/profile/shoppinglist" onclick="fadeOutMenu();">
                <span class="glyphicon glyphicon-shopping-cart"></span>
                Warenkorb
            </a>
        </li>
        <li class="sep" ng-hide="isLoggedIn()">

            <a href="/login" onclick="fadeOutMenu();">
                <span class="glyphicon glyphicon-log-in"></span>
                Anmelden
            </a>
        </li>
        <li ng-hide="isLoggedIn()">
            <span class="glyphicon glyphicon-pencil"></span>
            <a class="navbar-right" onclick="fadeOutMenu();"
               href="/register">Registrierung</a>
        </li>
        <li class="sep" ng-show="isLoggedIn()">
            <span class="glyphicon glyphicon-log-out"></span>
            <a class="navbar-right"
               ng-click="logout();fadeOutMenu();">Abmelden</a>
        </li>
    </ul>
</nav>

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <div class="menu-trigger"></div>
            <a class="navbar-brand" href="/"><img src="/img/PhotLogoK.png"
                                                  width="85" height="30"
                                                  border="0" alt="Home"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <!--<li class="active"><a href="#">Home</a></li>-->
                <li ng-show="isLoggedIn()">
                    <a class="navbar-link"
                       href="/profile">
                        <span class="glyphicon glyphicon-user"></span>
                        {{user.firstName}}
                    </a>
                </li>
                <li>
                    <a class="navbar-right" href="/cart"
                       ng-show="isLoggedIn()">
                        <span class="glyphicon glyphicon-shopping-cart"></span>
                        Warenkorb
                    </a>
                </li>
                <li>
                    <a class="navbar-right"
                       href="/register"
                       ng-hide="isLoggedIn()">Registrierung</a>
                </li>
                <li>
                    <a class="navbar-right" href="/"
                       ng-show="isLoggedIn()" ng-click="logout()">Abmelden</a>
                </li>
            </ul>


            <form class="navbar-form navbar-right vcenter" role="form"
                  ng-controller="AuthCtrl">
                <div class="form-group" ng-hide="isLoggedIn()">
                    <div class="input-group input-group">
                <span class="input-group-addon" aria-hidden="true">
                    <span class=" glyphicon glyphicon-envelope"></span>
                </span>
                        <input type="email" name="email" ng-model="email"
                               class="form-control" placeholder="E-Mail">
                    </div>
                    <div class="input-group input-group">
                        <span class="input-group-addon" aria-hidden="true">
                            <span class="glyphicon glyphicon-lock"></span>
                        </span>
                        <input type="password" name="password"
                               ng-model="password" class="form-control"
                               placeholder="Passwort">
                    </div>

                    <button type="submit" class="btn btn-primary"
                            ng-click="login(email, password)">Anmelden
                    </button>
                </div>
            </form>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<div class="container">
    <div class="alert alert-error" ng-show="error !== undefined">
        {{error}}
    </div>
    <div class="alert alert-success" ng-show="success !== undefined">
        {{success}}
    </div>
</div>
<div id="content" class="container" ng-view>
</div>

<div class="navbar navbar-default navbar-fixed-bottom">
    <div style="float:right;">
        CI-Status:
        <img src="https://travis-ci.org/VincSch/photoplatform-sdf.svg?branch=master">
    </div>
    <p class="navbar-left">Copyright 2014&nbsp;</p>
</div>

<script src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.0.0/less.min.js"></script>
<script src="/js/jquery/jquery.js"></script>
<script src="/js/bootstrap/bootstrap.js"></script>
<script src="/js/angular/angular.js"></script>
<script src="/js/angular/angular-route.js"></script>
<script src="/js/angular/angular-resource.js"></script>
<script src="/js/angular/angular-cookies.js"></script>
<script src="/js/angular/ui-bootstrap-tpls-0.11.0.min.js"></script>
<script src="/js/app/app.js"></script>
<script src="/js/app/models.js"></script>

<script src="/js/app/services.js"></script>

<script src="/js/app/controllers/controllers.js"></script>

<!-- Admin files -->
<script src="/js/app/controllers/admincontrollers.js"></script>

<!-- Collection files -->
<script src="/js/app/controllers/collectioncontrollers.js"></script>
<script src="/js/app/services/collection.js"></script>


<!-- Image files -->
<script src="/js/app/directives/imagedirectives.js"></script>
<script src="/js/app/controllers/imagecontrollers.js"></script>
<script src="/js/app/services/image.js"></script>


<script src="/js/app/controllers/profilecontrollers.js"></script>

<script src="/js/main.js"></script>
</body>
</html>