    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>Administrationsmenu</h1>
          <h4>Fotografenbestätigung</h4>
          <p>Die nachfolgende Liste zeigt Angemeldete Fotografen, die auf eine Bestätigung
            warten.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <table class="table">
            <thead>
              <tr>
                <th>#</th>
                <th>Benutzer</th>
                <th>Freischalten</th>
                <th>Nachricht senden</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>Mark</td>
                <td draggable="true">
                  <a class="btn btn-primary">Activ</a>
                </td>
                <td>
                  <a class="btn btn-primary">Send</a>
                </td>
              </tr>
              <tr>
                <td>2</td>
                <td>Jacob</td>
                <td>
                  <a class="btn btn-primary">Activ</a>
                </td>
                <td>
                  <a class="btn btn-primary">Send</a>
                </td>
              </tr>
              <tr>
                <td>3</td>
                <td>Larry</td>
                <td>
                  <a class="btn btn-primary">Activ</a>
                </td>
                <td>
                  <a class="btn btn-primary">Send</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <hr>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h4>Benutzer suchen</h4>
          <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search">
            </div>
            <a class="btn btn-default" href="04 Suchergebnisseite.htm">Suche</a>
          </form>
        </div>
        <div class="col-md-12">
          <table class="table">
            <thead>
              <tr>
                <th>#</th>
                <th>Benutzer</th>
                <th>Bearbeiten</th>
                <th>Adminrechte</th>
                <th>Sperren</th>
                <th>Nachricht senden</th>
              </tr>
            </thead>
            <tbody>
            <tr ng-repeat="user in filteredUsers">
                <td>{{user.index}}</td>
                <td>{{user.username}}</td>
                <td>
                    <a class="btn btn-primary">Edit</a>
                </td>
                <td draggable="true">
                    <a ng-disabled="{{user.admin}}" class="btn btn-primary">Admin</a>
                </td>
                <td>
                    <a ng-disabled="{{user.banned}}" class="btn btn-primary">Ban</a>
                </td>
                <td>
                    <a class="btn btn-primary">Send</a>
                </td>
            </tr>
            </tbody>
          </table>
            <pagination ng-show="showPagination" total-items="totalItems" items-per-page="numPerPage"
                        ng-model="currentPage" ng-change="pageChanged()"></pagination>
        </div>
      </div>
    </div>
